/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--text-weight);
  background-color: var(--background-color);
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-size: cover;
  color: var(--accent-color);
}

/* Основной контейнер с динамическими отступами */
.container {
  max-inline-size: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--side-padding);
}

/* Шапка */
.header {
  padding: var(--header-padding);
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid var(--accent-color);
  padding: var(--header-padding);
  min-height: var(--header-height);
  background-color: var(--background-color);
}

.header__logo {
  font-family: var(--accent-font);
  font-size: var(--logo-size);
  text-decoration: none;
  text-transform: uppercase;
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--title-size);
  text-align: center;
  text-transform: uppercase;
}

/* Стили для карточек */
.cards {
  display: flex;
  flex-direction: column;
  gap: calc(2 * var(--section-padding));
  padding: var(--section-padding) 0;
}

.card {
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
}

.card__header {
  padding: 5px 10px;
  border-bottom: 2px solid var(--accent-color);
}

.card__title {
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--title-weight);
  font-size: 18px;
  line-height: 1.2;
}

.card__image-wrapper {
  position: relative;
  border-bottom: 2px solid var(--accent-color);
}

.card__image {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  mix-blend-mode: hard-light;
}

.card__label-text {
  font-family: var(--accent-font);
  font-size: 14px;
  color: var(--accent-color);
  text-shadow: 
    -1px 0 var(--background-color),
    0 1px var(--background-color),
    1px 0 var(--background-color),
    0 -1px var(--background-color);
  opacity: 0.5;
}

@supports ((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
  .card__label-text {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__content {
  padding: var(--section-padding);
  display: flex;
  flex-direction: column;
}

.card__text {
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 21px;
}

.card__actions {
  padding: 0 var(--section-padding) var(--section-padding);
  display: flex;
  justify-content: end;
  align-items: center;
}

.button__text {
  font-size: 13px;
  color: var(--accent-color);
  font-family: var(--accent-font);
  margin: 0; 
  line-height: 1; 
}

.card__like-button {
  border: 2px solid black;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  padding: 12.5px 37px;
  line-height: 0;
}

.save-button {
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  padding: 12.5px 37px;
  line-height: 0;
}

.card__icon-button {
  margin: 12px;
  padding: 0;
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  width: 39px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

/* Стили для SVG сердца */
.like-icon {
  width: 100%;
  height: 100%;
  display: block;
}
