:root {
  /* Шрифты */
  --main-font: 'Inter', Arial, sans-serif;
  --accent-font: 'PressStart2P', 'Courier New', monospace;
  
  /* Настройки вариативного шрифта */
  --text-weight: 400;
  --title-weight: 700;
  --heading-weight: 785;
  
  /* Цвета */
  --background-color: #fff;
  --accent-color: #000;
  
  /* Размеры контейнера и отступов */
  --container-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --side-padding: clamp(0.875rem, -1.4688rem + 10vw, 7.125rem);
  --logo-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px;
  --section-padding: 25px;
}