:root {
  /* Шрифты */
  --main-font: 'Inter', Arial, sans-serif;
  --accent-font: 'PressStart2P', 'Courier New', monospace;
  
  /* Настройки вариативного шрифта */
  --text-weight: 400;
  --title-weight: 700;
  --heading-weight: 785;
  
  /* Цвета */
  --background-color: #fff;
  --accent-color: #000;
  
  /* Размеры контейнера и отступов */
  --container-width: clamp(375px, 50%, 700px);
  --logo-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding: 100px 0px;
  --header-height: clamp(327px, 327px + (368 - 327) * (100vw - 375px) / (1440 - 375), 368px);
  
}